---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Schedules from '../components/Schedules.astro';
import Curriculum from '../components/Curriculum.astro';
// Aquí iremos importando los demás componentes (Hero, Footer, etc.) conforme los creemos
---

<Layout title="Colegio Johan Kepler - Soyapango">
    
    <Navbar />

    <main>
        <Hero />
        <Schedules />
        <Curriculum />
    </main>

</Layout>