---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
// Aquí iremos importando los demás componentes (Hero, Footer, etc.) conforme los creemos
---

<Layout title="Colegio Johan Kepler - Soyapango">
    
    <Navbar />

    <main>
        </main>

</Layout>